<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Atul Patil</title>
  </head>
  <body style="background: #fdfdfd;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand" href="/" style="color: rgb(184, 15, 15);">Atul Patil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"> <i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#about"> <i class="fa fa-info-circle" aria-hidden="true"></i> About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blogs"> <i class="fa fa-pencil" aria-hidden="true"></i> Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects"> <i class="fa fa-paper-plane" aria-hidden="true"> Projects</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#resume"> <i class="fa fa-paperclip" aria-hidden="true"> Resume</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact"> <i class="fa fa-phone" aria-hidden="true"></i> Contact </a>
          </li>
      </div>
    </nav>
    <div class="jumbotron" id="about">
        About
    </div>
    <div class="jumbotron" id="blogs">
        Blogs
    </div>
    <div class="jumbotron" id="projects">
        Projects
    </div>
    <div class="jumbotron" id="resume">
        Resume
    </div>
    <div class="jumbotron" id="contact">
        Contact
    </div>

    <center><footer class="bg-light">
      <div class="icon-container">
        <i class="fa fa-facebook-square" style="font-size:36px" onMouseOver="this.style.color='#3b5998'" onMouseOut="this.style.color='black'" aria-hidden="true"></i>
        <i class="fa fa-linkedin-square" style="font-size:36px" onMouseOver="this.style.color='#0e76a8'" onMouseOut="this.style.color='black'" aria-hidden="true"></i>
        <i class="fa fa-youtube-square" style="font-size:36px" onMouseOver="this.style.color=' #c4302b'" onMouseOut="this.style.color='black'" aria-hidden="true"></i>
        <i class="fa fa-github-square" style="font-size:36px" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='black'" aria-hidden="true"></i>
      </div>
    </footer></center>
    <center><p><strong>Atul Patil © 2020, <a href=#></a> All Rights reserved</strong></p></center>
        
        
<!--        <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.3/getting-started/introduction/">getting started guide</a>.</p>-->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>